name: Docs - Validate

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '16 5 * * *' # Every day at 05:16 UTC

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      contents: read

    steps:
      # Firewall rules:
      # -> "*.github.com": Standard interactions with GitHub
      # -> "*.pypi.org" & "files.pythonhosted.org": Downloading Python packages
      # -> "*.docker.io", "*.docker.com" & "docker-images-prod.*.r2.cloudflarestorage.com": Standard interactions with Docker
      # -> "*.alpinelinux.org": Standard interactions with Alpine Linux package repositories
      # -> "cdn.fwupd.org": Firmware updates (Alpine)
      - name: Harden runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            *.github.com:443
            pypi.org:443
            files.pythonhosted.org:443
            *.docker.io:443
            *.docker.com:443
            docker-images-prod.*.r2.cloudflarestorage.com
            dl-cdn.alpinelinux.org:443
            cdn.fwupd.org:443

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0 # Required by MkDocs' Git-related features

      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        if: github.event.pull_request.head.repo.fork == false
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Copy License
        run: cp LICENSE.md docs/user-guide/src/license.md

      - name: Build Site
        working-directory: docs/user-guide/
        env:
          GITHUB_TOKEN: ${{ github.token }} # Avoid exceeding the GitHub API rate limits
        run: ./build.sh
